/* # Empty CSS file for your own CSS */
.header{
    background-color: #F6F5F5;
}

.nav-header{
    background-color: #F6F5F5;
}

.carousel {
    background-color: #F6F5F5;
}

.logo{
    margin: 10px 10px 10px 10px;
}

.items-list{
    margin-top: 20px;
}

.navbar-default{
    background-color: inherit;
    border-color: #F6F5F5;
}